html, body {
  font-family: 'Open Sans', sans-serif;
  background: lightblue;
  height: 100%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.container {
  height: 100%;
}

.main-content {
  background: #E6E6E6;
  height: 100%;

}
